@import "../../colors.scss";

.buttonContainer {
  display: flex;
  flex: 0;
  align-items: center;
  justify-content: center;
  min-width: 150px;
  height: 50px;
  margin: 0px 7px 0px 7px;
  background: linear-gradient($primary, $highlight);
  color: white;
  font-size: 18px;
  box-shadow: 10px 10px 7px $shadow;
  border-radius: 30px;
  border-width: 0px;
  transition: min-width 0.7s;
  &[data-disabled="true"] {
    background: linear-gradient($textdark, $dark);
  }
}

.buttonContainer:focus {
  outline: none;
}

.buttonContainer:hover:not([data-disabled="true"]) {
  outline: none;
  background: linear-gradient($highlight, $highlightdark);
  min-width: 180px;
  &[data-disabled="true"] {
    background: linear-gradient($textdark, $dark);
  }
}
