.arraySortingPageContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
}

.barChartComponentContainer {
  display: flex;
  flex: 10;
  align-items: flex-end;
  overflow-x: scroll;
}
