@import "../colors.scss";

.fibonacciPageContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  background-color: $medium;
}

.fibonacciResultContainer {
  display: flex;
  flex: 10;
  align-items: flex-end;
  overflow-x: scroll;
}
