.buttonInputContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 100%; // This is so the buttonInputField can use a percentage height which will be a percentage of this
}

.buttonInputField {
  width: 30%;
  height: 60%;
  margin-right: 1em;
}
