@import "../colors.scss";

.buttonContainer {
  max-width: 350px;
  min-width: 150px;
  height: 50px;
  margin: 0px 7px 0px 7px;
  background: linear-gradient($primary, $highlight);
  color: white;
  font-size: 18px;
  box-shadow: 10px 10px 7px $shadow;
  border-radius: 30px;
  border-width: 0px;
  transition: min-width 0.7s;
  &:disabled {
    background: linear-gradient($textdark, $dark);
  }
}

.buttonContainer:focus {
  outline: none;
}

.buttonContainer:hover {
  outline: none;
  background: linear-gradient($highlight, $highlightdark);
  min-width: 180px;
}
