@import "../colors.scss";

.buttonPickerContainer {
  flex: 1;
  max-width: 150px;
  height: 50px;
  margin: 0px 7px 0px 7px;
  padding-left: 25px;
  flex-direction: row;
  background: linear-gradient($primary, $highlight);
  color: white;
  font-size: 18px;
  box-shadow: 10px 10px 7px $shadow;
  border-top-left-radius: 30px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 30px;
  // border-radius: 30px;
  border-width: 0px;
  overflow: hidden;
}

.buttonPickerContainer:focus {
  outline: none;
}
