@import "../colors.scss";

.topBarContainer {
  display: flex;
  background-color: $primary;
  flex-direction: row;
  justify-content: flex-end;
}

.navLinksContainer {
  display: flex;
  flex: 1;
  margin-right: 50px;
}

.linkItem {
  margin-left: 10px;
  list-style: none;
  font-size: larger;
  white-space: nowrap;
}

.navLink {
  color: black;
  transition: color 0.2s;
  text-decoration: none;
  &.navLinkActive {
    color: white;
    text-decoration: underline;
  }
  &:hover {
    color: white;
    text-decoration: underline;
  }
}
