@import "../colors.scss";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.topBarContainer {
  display: flex;
  background-color: $primary;
  overflow-x: scroll;
}

.navLinksContainer {
  display: flex;
  flex: 1;
  padding: 0;
}

.linkItem {
  margin-left: 0.7em;
  list-style: none;
  font-size: larger;
  white-space: nowrap;
  display: flex;
}

.navLink {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  transition: color 0.2s;
  text-decoration: none;
  &.navLinkActive {
    color: white;
  }
  &:hover {
    color: white;
  }
}
