@import "../colors.scss";

.verticalBarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.verticalBarGradient {
  display: flex;
  margin: 5px;
  width: 50px;
  background: linear-gradient($primary, $highlight);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  justify-content: center;
}

.verticalBarText {
  color: $dark;
  margin-bottom: 0;
}
