$light: #ffffff;
$medium: #eeeeee;
$dark: #515151;
$primary: #4e91ff;
$primarylight: #00b4ff;
$highlight: #834e86;
$highlightdark: #4b2e63;
$textmedium: #808080;
$textdark: #404040;
$shadow: #834e8659;
